[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = git@github.com:Tencent/rapidjson.git
	branch = master
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = git@github.com:gabime/spdlog.git
